/* 文字コードの指定。文字化けしないために書く */
@charset "utf-8";

.info {
  display: flex;
  justify-content: space-between;
  color: red;
  margin-bottom: 50px;
}
.performance {
  border: 3px solid blue;
  border-radius: 15px;
  margin-left:3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.performance ul {
  list-style: none;
  font-weight: bold;
  padding: 40px
}
.performance ul li::before {
  content: "♪";
}

.topimage {
  width: 100%;
  border: 3px solid black;
  }
.topimage img {
  width: 100%;

}
.introduction {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.introduction li {
  width: 30%;
}
.introduction li img {
  width: 100%;
  border: 2px solid black;
}
.introduction h3 {
  color: red;
  text-align: center;
}
.introduction p {
  text-align: justify;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.profile img {
  width: 30%;
  height:400px;
}
.sentence {
  width: 96%;
  padding: 40px;



}
.sentence h3{
  color: red;
  font-size:170%

}
.sentence p{
  font-size:120%

}
.director {

  padding: 20px;
  border: 3px solid blue;
  border-radius: 15px;
  text-align: center;
  font-size: 140%;
}
.director h3{
  color: red;
  font-size: 140%;
}
.video1 img{
 width:15%;
  }
.logo0412{
  color: red;
  font-size:140%;
  font-weight: bold;

}
.underline{
  text-decoration: underline;
}

.introduction pack{
width:100%;
}
.profile{
  display: flex;
  justify-content: space-between;
}
.profile img {
  width: 30%;
  height:400px;
}
.profile .contents {
  width: 60%;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
}
